<div class="main-wrapper">
        
    @{
        Html.RenderPartialAsync("_PartialMainNav");
    }
    @{
        Html.RenderPartialAsync("_Main");
    }
    @{
        Html.RenderPartialAsync("_PartialFooter");
    }

    
        

</div>