@model List<Demo.Core.Entities.DTO.ProductReport>


    <div class="container mt-3" >
        <h1 style="color: royalblue;">Sale Report</h1>
        <table style="color: azure; text-align: center" class="table table-bordered table-hover table-dark">
            <thead>
            <tr>
                <th>ProductID</th>
                <th>ProductName</th>
                <th>OrderAmounth</th>
                <th>ProductAmounth</th>
                
            </tr>
            </thead>
            <tbody>
            
                
            @foreach (var item in Model)
            {<tr >


                 <td>@item.ProductID</td>
                 <td>@item.ProductName</td>
                 <td>@item.OrderAmounth</td>
                 <td>@item.ProductAmounth</td>
                
             </tr>
            }
               
           
            </tbody>
        </table>
       
        
        
   
    </div>

   
   
